// Padding top
.pt--50 {
    padding-top: 50px;
}

.pt--60 {
    padding-top: 60px;
}

.pt--70 {
    padding-top: 70px;
}

.pt--80 {
    padding-top: 80px;
}

.pt--90 {
    padding-top: 90px;
}

.pt--100 {
    padding-top: 100px;
}

// Padding bottom
.pb--50 {
    padding-bottom: 50px;
}

.pb--60 {
    padding-bottom: 60px;
}

.pb--70 {
    padding-bottom: 70px;
}

.pb--80 {
    padding-bottom: 80px;
}

.pb--90 {
    padding-bottom: 90px;
}

.pb--100 {
    padding-bottom: 100px;
}

// Margin top
.mt--30 {
    margin-top: 30px;
}

.mt--50 {
    margin-top: 50px;
}

.mt--60 {
    margin-top: 60px;
}

.mt--70 {
    margin-top: 70px;
}

.mt--80 {
    margin-top: 80px;
}

.mt--90 {
    margin-top: 90px;
}

.mt--100 {
    margin-top: 100px;
}

// Margin bottom
.mb--50 {
    margin-bottom: 50px;
}

.mb--60 {
    margin-bottom: 60px;
}

.mb--70 {
    margin-bottom: 70px;
}

.mb--80 {
    margin-bottom: 80px;
}

.mb--90 {
    margin-bottom: 90px;
}

.mb--100 {
    margin-bottom: 100px;
}