<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="features-content">
                <!-- <span class="sub-title"></span> -->
                <h2>Packed with Never-before Features</h2>
                <p>AI Octopus is a galaxy of features; we have left nothing out to be desired. Whether your team is a start up or groups of top-class professionals, you will find our features unique and indispensable for meeting challenges and forging ahead
                    beating competitors.</p>
                <p>We made it for businesses that want a 24/7/365 superstar market watchdog that will never tire.</p>
                <div class="btn-box">
                    <a routerLink="/contact" class="default-btn">Get Started</a>
                    <a routerLink="/features" class="link-btn">See All Features</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="list-of-features">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="features-item with-border">
                            <div class="icon">
                                <img src="assets/img/icons/multiple-sm.png" alt="Multiple SM">
                            </div>
                            <h3>Multiple SM</h3>
                            <p>Keep track of all your social media presence under a single roof and respond at breakneck speed when someone mentions your business.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="features-item with-border">
                            <div class="icon">
                                <img src="assets/img/icons/quality-leads.png" alt="Quality Leads">
                            </div>
                            <h3>Quality Leads</h3>
                            <p>Get quality leads that have a high a high conversion ratio and foray into virgin territories that hold a high potential for your products and services.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="features-item with-border">
                            <div class="icon">
                                <img src="assets/img/icons/respond-fast.png" alt="Respond Fast">
                            </div>
                            <h3>Respond Fast</h3>
                            <p>Give your business a new dimension by responding to customers’ queries regarding deliveries, qualities, specification and customized product information.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="features-item with-border">
                            <div class="icon">
                                <img src="assets/img/icons/save-money.png" alt="Save Money">
                            </div>
                            <h3>Save Money</h3>
                            <p>Optimize your investment and maximize ROI. You can bring down operational expenses and deploy resources smartly to give your customers a superb experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>