.error-area {
    z-index: 1;
    padding-top: 180px;
    position: relative;
    background: {
        image: url(../../../../assets/img/error-bg.jpg);
        position: center center;
        repeat: no-repeat;
        size: cover;
    }
    ;
    &::before {
        left: 0;
        right: 0;
        top: 82px;
        height: 1px;
        content: '';
        z-index: -1;
        opacity: .2;
        position: absolute;
        background-color: var(--whiteColor);
    }
}

.error-content {
    text-align: center;
    p {
        font-size: 16px;
        max-width: 550px;
        color: var(--whiteColor);
        margin: {
            top: 35px;
            bottom: 0;
            left: auto;
            right: auto;
        }
        ;
    }
    .default-btn {
        margin-top: 25px;
        background-color: var(--btnButton);
        color: var(--blackColor);
        &::before {
            background: var(--whiteColor);
        }
        &:hover {
            color: var(--whiteColor);
        }
    }
}


/* Max width 767px */

@media only screen and (max-width: 767px) {
    .error-area {
        padding-top: 140px;
        &::before {
            display: none;
        }
    }
    .error-content {
        p {
            font-size: 13px;
            max-width: 100%;
            margin-top: 30px;
        }
        .default-btn {
            margin-top: 20px;
        }
    }
}


/* Min width 576px to Max width 767px */

@media only screen and (min-width: 576px) and (max-width: 767px) {}


/* Min width 768px to Max width 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .error-area {
        padding-top: 150px;
        &::before {
            display: none;
        }
    }
    .error-content {
        p {
            font-size: 14px;
            max-width: 500px;
        }
    }
}


/* Min width 992px to Max width 1199px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Min width 1200px to Max width 1399px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}


/* Min width 1550px */

@media only screen and (min-width: 1550px) {}