<div class="overview-area">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-xl-6 col-lg-12 col-md-12 p-0">
                <div class="overview-content">
                    <h2>Simple to Use, No Learning Curve Absolutely</h2>
                    <p>AI Octopus is a sophisticated CRM designed to make complex things simple to use. Your team can master every feature in minimum time. Everything is intuitive.</p>
                    <ul class="features-list">
                        <li>
                            <div class="icon">
                                <i class="ri-download-cloud-2-line"></i>
                            </div>
                            <h3>Automated Responses</h3>
                            <p>Activate BOT so that you can rotate resources across multiple operations in the organization.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ri-award-line"></i>
                            </div>
                            <h3>Automated Distribution</h3>
                            <p>Route query allocation automatically straight to the right agent based on taglines.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ri-cloud-line"></i>
                            </div>
                            <h3>Automated Reports</h3>
                            <p>Assess your business with a professional touch and make instant improvements to your customer approach strategy.</p>
                        </li>
                    </ul>
                    <div class="btn-box">
                        <a routerLink="/contact" class="default-btn">Get Started</a>
                        <a routerLink="/features" class="link-btn">See All Features</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 p-0">
                <div class="overview-image bg1">
                    <img src="assets/img/benefits/benefit-2.png" alt="benefit-2">
                </div>
            </div>
        </div>
    </div>
</div>