.app-download-inner {
    padding-left: 100px;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background: linear-gradient(76.92deg, #C89CFF 0%, #FF54B0 52.08%, #FF9F5A 100%);
        z-index: -1;
        margin: {
            top: 50px;
            right: 15px;
            bottom: 30px;
        }
        ;
    }
    &.bg-gray {
        background-color: var(--gryColor);
        padding-right: 50px;
        &::before {
            display: none;
        }
        .app-download-content {
            .sub-title {
                display: block;
                background: var(--gradientColor);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                letter-spacing: 0.1em;
            }
            h2 {
                color: var(--blackColor);
            }
            p {
                color: var(--paragraphColor);
            }
        }
        .app-download-image {
            padding-top: 50px;
        }
    }
    &.bg-gradient-color {
        padding-right: 50px;
        &::before {
            margin: 0;
        }
        .app-download-image {
            padding-top: 50px;
        }
    }
}

.app-download-content {
    padding-right: 15px;
    position: relative;
    top: 10px;
    .sub-title {
        display: block;
        margin-bottom: 10px;
        color: var(--whiteColor);
        letter-spacing: 0.1em;
        font-weight: 600;
    }
    h2 {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 15px;
        color: var(--whiteColor);
    }
    p {
        color: var(--whiteColor);
    }
    .btn-box {
        margin-top: 30px;
        .playstore-btn {
            position: relative;
            border-radius: 5px;
            margin-right: 20px;
            display: inline-block;
            color: var(--paragraphColor);
            background-color: var(--whiteColor);
            box-shadow: 0 7px 18px 0 rgba(107, 124, 147, .15);
            font: {
                size: 14px;
                weight: 500;
            }
            ;
            padding: {
                top: 12px;
                left: 60px;
                right: 25px;
                bottom: 12px;
            }
            ;
            span {
                display: block;
                margin-top: 2px;
                color: var(--blackColor);
                transition: var(--transition);
                font: {
                    size: 17px;
                    weight: 700;
                }
                ;
            }
            img {
                transform: translateY(-50%);
                position: absolute;
                left: 20px;
                top: 50%;
            }
            &:hover {
                background-color: var(--blackColor);
                transform: translateY(-3px);
                color: var(--whiteColor);
                span {
                    color: var(--whiteColor);
                }
            }
        }
        .applestore-btn {
            position: relative;
            border-radius: 5px;
            display: inline-block;
            color: var(--paragraphColor);
            background-color: var(--whiteColor);
            box-shadow: 0 7px 18px 0 rgba(107, 124, 147, .15);
            font: {
                size: 14px;
                weight: 500;
            }
            ;
            padding: {
                top: 12px;
                left: 65px;
                right: 25px;
                bottom: 12px;
            }
            ;
            span {
                display: block;
                margin-top: 2px;
                color: var(--blackColor);
                transition: var(--transition);
                font: {
                    size: 17px;
                    weight: 700;
                }
                ;
            }
            img {
                transform: translateY(-50%);
                position: absolute;
                left: 20px;
                top: 50%;
            }
            &:hover {
                background-color: var(--blackColor);
                transform: translateY(-3px);
                color: var(--whiteColor);
                span {
                    color: var(--whiteColor);
                }
            }
        }
    }
}

.app-download-image {
    text-align: center;
    padding-left: 15px;
}


/* Max width 767px */

@media only screen and (max-width: 767px) {
    .app-download-inner {
        padding: {
            top: 60px;
            bottom: 60px;
            left: 15px;
            right: 15px;
        }
        ;
        &::before {
            margin: {
                top: 0;
                right: 0;
                bottom: 0;
            }
            ;
        }
        &.bg-gray {
            padding: {
                right: 15px;
                bottom: 0;
            }
            ;
            .app-download-image {
                padding-top: 0;
            }
        }
        &.bg-gradient-color {
            padding: {
                right: 15px;
                bottom: 0;
            }
            ;
            .app-download-image {
                padding-top: 0;
            }
        }
    }
    .app-download-content {
        text-align: center;
        padding-right: 0;
        top: 0;
        .sub-title {
            font-size: 12px;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 12px;
        }
        .btn-box {
            margin-top: 5px;
            .playstore-btn {
                text-align: start;
                font-size: 12px;
                margin: {
                    right: 5px;
                    top: 10px;
                }
                ;
                padding: {
                    right: 10px;
                    left: 45px;
                    top: 11px;
                    bottom: 11px;
                }
                ;
                span {
                    font-size: 13px;
                }
                img {
                    left: 10px;
                    width: 25px;
                }
            }
            .applestore-btn {
                text-align: start;
                font-size: 12px;
                margin: {
                    left: 5px;
                    top: 10px;
                }
                ;
                padding: {
                    right: 10px;
                    left: 45px;
                    top: 11px;
                    bottom: 11px;
                }
                ;
                span {
                    font-size: 13px;
                }
                img {
                    left: 10px;
                    width: 25px;
                }
            }
        }
    }
    .app-download-image {
        padding-left: 0;
        margin-top: 35px;
        transform: unset !important;
    }
}


/* Min width 576px to Max width 767px */

@media only screen and (min-width: 576px) and (max-width: 767px) {}


/* Min width 768px to Max width 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .app-download-inner {
        padding: {
            top: 80px;
            left: 30px;
            right: 30px;
            bottom: 80px;
        }
        ;
        &::before {
            margin: {
                top: 0;
                right: 0;
                bottom: 0;
            }
            ;
        }
        &.bg-gray {
            padding: {
                right: 30px;
                bottom: 0;
            }
            ;
            .app-download-image {
                padding-top: 10px;
            }
        }
        &.bg-gradient-color {
            padding: {
                right: 30px;
                bottom: 0;
            }
            ;
            .app-download-image {
                padding-top: 5px;
            }
        }
    }
    .app-download-content {
        top: 0;
        padding-right: 0;
        text-align: center;
        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
        .btn-box {
            .playstore-btn,
            .applestore-btn {
                text-align: start;
                span {
                    font-size: 15px;
                }
            }
        }
    }
    .app-download-image {
        padding-left: 0;
        margin-top: 30px;
        transform: unset !important;
    }
}


/* Min width 992px to Max width 1199px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .app-download-inner {
        padding: 50px 30px;
        &::before {
            margin: {
                top: 0;
                right: 0;
                bottom: 0;
            }
            ;
        }
        &.bg-gray {
            padding-right: 15px;
            .app-download-content {
                h2 {
                    font-size: 33px;
                }
            }
            .app-download-image {
                padding-top: 0;
            }
        }
        &.bg-gradient-color {
            padding-right: 30px;
            .app-download-image {
                padding-top: 0;
            }
        }
    }
    .app-download-content {
        padding-right: 0;
    }
    .app-download-image {
        padding-left: 0;
    }
}


/* Min width 1200px to Max width 1399px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}


/* Min width 1550px */

@media only screen and (min-width: 1550px) {}