<app-navbar-style-four></app-navbar-style-four>

<!-- Breadcrumb -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Extreme Features for Customer Success</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Features</li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- End of breadcrumb -->

<!-- app-features-one -->
<section class="pt--80 pb--80">
    <app-features-one></app-features-one>
</section>
<!-- app-features-two -->
<section class="pt--80 pb--80 gray-color">
    <app-features-two></app-features-two>
</section>
<!-- app-features-three -->
<section class="pb--80 gray-color">
    <app-features-three></app-features-three>
</section>
<!-- app-features-four -->
<section class="pt--80 pb--80">
    <app-features-four></app-features-four>
</section>
<!-- app-features-five -->
<section class="pt--80 pb--80 gray-color">
    <app-features-five></app-features-five>
</section>
<!-- app-features-six -->
<section class="pt--80 pb--80">
    <app-features-six></app-features-six>
</section>

<!-- app-download-app-style-two -->
<div class="app-download-area gray-color">
    <app-download-app-style-two></app-download-app-style-two>
</div>

<!-- footer -->
<app-footer-octopus></app-footer-octopus>
<!-- end footer -->