.about-content {
    h2 {
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 15px;
    }
}

.btn-box {
    margin-top: 35px;
    .default-btn {
        margin-right: 20px;
    }
    .link-btn {
        font-weight: 600;
        position: relative;
        display: inline-block;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            transition: var(--transition);
            width: 100%;
            bottom: 0;
            height: 1px;
            background-color: var(--blackColor);
        }
        &:hover {
            color: var(--mainColor);
            &::before {
                width: 0;
            }
        }
    }
}

.about-content {
    .sub-title {
        display: block;
        margin-bottom: 10px;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.1em;
        font-weight: 600;
    }
}

//Media Query
@media only screen and (max-width: 991px) {
    .about-img {
        margin: 50px 0;
    }
}