<div class="about-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">About Our Features</span>
                    <h2>Fully Loaded CRM with Unbeatable Top Features Ever</h2>
                    <p>AI Octopus is for professional-grade business managers who want every CRM feature packaged into a single robust dashboard.</p>
                    <div class="features-text mt-4">
                        <h6>Multi-Reach Capabilities</h6>
                        <p>AI Octopus offers customers an all-round capability for keeping a close tab on most social media such as Whatsapp, Twitter, Facebook and more. Your need to run from app to app is fully eliminated.</p>
                    </div>
                    <div class="features-text mt-4">
                        <h6>Instant Prompt</h6>
                        <p>Wherever your customers may be around the world, you will be notified instantly giving you valuable lead over your competitors.</p>
                    </div>
                    <div class="btn-box">
                        <a routerLink="/contact" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="assets/img/features/features-1.png" data-aos="fade-up" alt="features-1">
                </div>
            </div>
        </div>
    </div>
</div>