.software-integrations-area {
    position: relative;
    z-index: 1;
}

.software-integrations-content {
    padding-right: 15px;
    .sub-title {
        display: block;
        margin-bottom: 10px;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.1em;
        font-weight: 600;
    }
    h2 {
        line-height: 1.2;
        font-size: 35px;
        margin-bottom: 15px;
    }
    .default-btn {
        margin-top: 10px;
    }
    &.white-color {
        .sub-title {
            background: transparent;
            color: var(--whiteColor);
            -webkit-text-fill-color: unset;
        }
        h2 {
            color: var(--whiteColor);
        }
        p {
            color: var(--whiteColor);
            opacity: .9;
        }
    }
}

.software-integrations-list {
    margin-left: 15px;
    position: relative;
    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        li {
            width: 100px;
            height: 100px;
            position: absolute;
            border-radius: 50%;
            text-align: center;
            transition: var(--transition);
            background-color: var(--whiteColor);
            box-shadow: 5px 15px 35px rgba(38, 42, 55, 0.12);
            img {
                left: 0;
                right: 0;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
                margin: {
                    left: auto;
                    right: auto;
                }
                ;
            }
            &:nth-child(1) {
                top: 70px;
                left: 100px;
            }
            &:nth-child(2) {
                left: 10%;
                bottom: 23%;
                width: 105px;
                height: 105px;
            }
            &:nth-child(3) {
                right: 0;
                left: 14%;
                bottom: 6%;
                margin: {
                    left: auto;
                    right: auto;
                }
                ;
            }
            &:nth-child(4) {
                right: 40px;
                bottom: 25%;
                width: 120px;
                height: 120px;
            }
            &:nth-child(5) {
                top: 14%;
                right: 25%;
                width: 90px;
                height: 90px;
            }
            &:nth-child(6) {
                left: 0;
                right: 0;
                top: 50%;
                width: 140px;
                height: 140px;
                transform: translateY(-50%);
                margin: {
                    left: auto;
                    right: auto;
                }
                ;
            }
            &.hover {
                filter: blur(4px);
                &:hover {
                    filter: blur(0);
                }
            }
        }
    }
}

.software-integrations-inner {
    &.bg-gradient-color {
        z-index: 1;
        padding: 50px;
        position: relative;
        background: var(--gradientColor);
        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            content: '';
            position: absolute;
            background: linear-gradient(279.99deg, #9F5FF1 -1.19%, #FF54B0 50.99%, #FF9F5A 100%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }
}


/* Max width 767px */

@media only screen and (max-width: 767px) {
    .software-integrations-content {
        padding-right: 0;
        .sub-title {
            font-size: 12px;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 12px;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .software-integrations-list {
        margin: {
            left: 0;
            top: 25px;
        }
        ;
        img {
            display: none;
        }
        ul {
            position: relative;
            width: auto;
            height: auto;
            li {
                position: relative;
                display: inline-block;
                right: 0 !important;
                bottom: 0 !important;
                left: 0 !important;
                top: 0 !important;
                transform: unset !important;
                width: 80px !important;
                height: 80px !important;
                margin: {
                    top: 15px;
                    left: 8px;
                    right: 8px;
                }
                ;
                img {
                    display: inline-block;
                    width: 40px;
                }
            }
        }
    }
    .software-integrations-inner {
        &.bg-gradient-color {
            padding: 60px 15px;
        }
    }
}


/* Min width 576px to Max width 767px */

@media only screen and (min-width: 576px) and (max-width: 767px) {}


/* Min width 768px to Max width 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .software-integrations-content {
        padding-right: 0;
        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .software-integrations-list {
        margin: {
            left: 0;
            top: 30px;
        }
        ;
    }
    .software-integrations-inner {
        &.bg-gradient-color {
            padding: 80px 30px;
        }
    }
}


/* Min width 992px to Max width 1199px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .software-integrations-content {
        padding-right: 0;
        h2 {
            font-size: 32px;
        }
    }
    .software-integrations-list {
        margin-left: 0;
        ul {
            li {
                &:nth-child(1) {
                    top: 30px;
                    left: 75px;
                }
                &:nth-child(6) {
                    width: 110px;
                    height: 110px;
                    img {
                        width: 55px;
                    }
                }
                &:nth-child(4) {
                    right: 30px;
                    width: 100px;
                    height: 100px;
                    img {
                        width: 55px;
                    }
                }
            }
        }
    }
    .software-integrations-inner {
        &.bg-gradient-color {
            padding: 50px 0 50px 30px;
        }
    }
}


/* Min width 1200px to Max width 1399px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .software-integrations-inner {
        &.bg-gradient-color {
            padding: 50px 30px;
        }
    }
}


/* Min width 1550px */

@media only screen and (min-width: 1550px) {}