<div class="software-integrations-area ptb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="software-integrations-content">
                    <span class="sub-title">Multiple SM Advantage</span>
                    <h2>Manage Multiple Social Media with a Professional Touch</h2>
                    <p>AI Octopus is the preferred CRM of businesses around the world that want to keep its reputation clean and trustworthy.</p>
                    <br>
                    <div class="features-text">
                        <h6>Coordinated Approach</h6>
                        <p>AI Octopus gives business the coordinating advantage, because you can strategize your approach and maintaining uniformity in your planning and execution.</p>
                    </div><br>
                    <div class="features-text">
                        <h6>Dashboard Advantage</h6>
                        <p>With a single customizable dashboard, all your social media assets remain on your fingertips 24/7.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="software-integrations-list">
                    <img src="assets/img/shape/bg-shape2.png" alt="bg-shape">
                    <ul>
                        <li><img src="assets/img/software-integrations/fm.png" alt="atlassian"></li>
                        <li><img src="assets/img/software-integrations/tw.png" alt="skype"></li>
                        <li><img src="assets/img/software-integrations/inst.png" alt="gdrive"></li>
                        <li><img src="assets/img/software-integrations/yt.png" alt="slack"></li>
                        <li><img src="assets/img/software-integrations/wta.png" alt="jira"></li>
                        <li><img src="assets/img/software-integrations/frame.png" alt="frame"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>