.single-features-item {
    background-color: var(--whiteColor);
    transition: var(--transition);
    padding: 40px 30px 35px 110px;
    margin-bottom: 25px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    .icon {
        top: 40px;
        left: 30px;
        width: 60px;
        height: 60px;
        font-size: 25px;
        position: absolute;
        border-radius: 50%;
        text-align: center;
        padding-top: 8px;
        color: var(--whiteColor);
        transition: var(--transition);
        box-shadow: 5px 15px 35px rgba(38, 42, 55, 0.12);
        background: linear-gradient(45.24deg, #5cc3ba 5.99%, #5cc3ba 91.87%);
        i {
            left: 0;
            right: 0;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        }
        // &.bg2 {
        //     background: linear-gradient(44.44deg, #FF4B3F 7.79%, #FFAC30 94.18%);
        // }
        // &.bg3 {
        //     background: linear-gradient(45deg, #ED2775 0%, #FF7448 100%);
        // }
        // &.bg4 {
        //     background: linear-gradient(44.44deg, #3F75FF 7.79%, #4ADEFF 94.18%);
        // }
        // &.bg5 {
        //     background: linear-gradient(43.32deg, #6A55F8 14.73%, #CA48F6 86.35%, #CA48F6 86.35%);
        // }
        // &.bg6 {
        //     background: linear-gradient(45deg, #6A55F8 0%, #EE6C74 100%);
        // }
    }
    h3 {
        font-size: 20px;
        margin-bottom: 12px;
        transition: var(--transition);
    }
    p {
        transition: var(--transition);
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        z-index: -1;
        background: var(--gryColor);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }
    &:hover {
        //box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .10), 0 30px 60px -30px rgba(107, 124, 147, .15);
        .icon {
            border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        }
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }
    &.without-hover {
        padding: 0 0 0 80px;
        margin-bottom: 40px;
        .icon {
            top: 0;
            left: 0;
        }
        &::before {
            display: none;
        }
        &:hover {
            box-shadow: unset;
            h3 {
                color: var(--blackColor);
            }
            p {
                color: var(--paragraphColor);
            }
        }
    }
}

.view-more-box {
    text-align: center;
    margin-top: 20px;
}

.single-features-box {
    margin-bottom: 25px;
    .icon {
        width: 100px;
        height: 100px;
        font-size: 45px;
        position: relative;
        color: var(--whiteColor);
        transition: var(--transition);
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        background: linear-gradient(45.24deg, #9F5FF1 5.99%, #FF54B0 91.87%);
        margin-bottom: 25px;
        text-align: center;
        i {
            left: 0;
            right: 0;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        }
        &.bg2 {
            background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
        }
        &.bg3 {
            background: linear-gradient(44.44deg, #3F75FF 7.79%, #4ADEFF 94.18%);
        }
        &.bg4 {
            background: linear-gradient(44.44deg, #FF4B3F 7.79%, #FFAC30 94.18%);
        }
    }
    h3 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    &:hover {
        .icon {
            border-radius: 50%;
        }
    }
}

.features-box {
    margin-bottom: 25px;
    .icon {
        width: 100px;
        height: 100px;
        font-size: 55px;
        overflow: hidden;
        position: relative;
        border-radius: 30px;
        color: var(--whiteColor);
        transition: var(--transition);
        box-shadow: 15px 20px 35px rgba(38, 42, 55, 0.08);
        background: linear-gradient(45.24deg, #9F5FF1 5.99%, #FF54B0 91.87%);
        margin-bottom: 25px;
        text-align: center;
        i {
            left: 0;
            right: 0;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        }
        &.bg2 {
            background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
        }
        &.bg3 {
            background: linear-gradient(44.44deg, #3F75FF 7.79%, #4ADEFF 94.18%);
        }
        &.bg4 {
            background: linear-gradient(44.44deg, #FF4B3F 7.79%, #FFAC30 94.18%);
        }
        &::before {
            position: absolute;
            height: 31px;
            width: 65px;
            content: '';
            right: 0;
            left: 0;
            top: 0;
            margin: {
                left: auto;
                right: auto;
            }
            ;
            background: {
                image: url(../../../../../assets/img/shape/shape12.png);
                position: center center;
                repeat: no-repeat;
                size: cover;
            }
            ;
        }
        &::after {
            transform: scaleX(-1) scaleY(-1);
            position: absolute;
            height: 31px;
            width: 65px;
            content: '';
            bottom: 0;
            right: 0;
            left: 0;
            margin: {
                left: auto;
                right: auto;
            }
            ;
            background: {
                image: url(../../../../../assets/img/shape/shape12.png);
                position: center center;
                repeat: no-repeat;
                size: cover;
            }
            ;
        }
    }
    h3 {
        font-size: 20px;
        margin-bottom: 0;
    }
    p {
        margin-top: 12px;
    }
    &:hover {
        .icon {
            border-radius: 0;
        }
    }
}

.features-lists {
    padding-left: 15px;
    ul {
        padding-left: 0;
        list-style-type: none;
        flex-wrap: wrap;
        display: flex;
        margin: {
            bottom: -30px;
            left: calc(var(--bs-gutter-x)/ -2);
            right: calc(var(--bs-gutter-x)/ -2);
        }
        ;
        li {
            margin-bottom: 30px;
            flex: 0 0 auto;
            width: 50%;
            padding: {
                left: calc(var(--bs-gutter-x)/ 2);
                right: calc(var(--bs-gutter-x)/ 2);
            }
            ;
            .icon {
                width: 60px;
                height: 60px;
                font-size: 25px;
                border-radius: 50%;
                text-align: center;
                position: relative;
                margin-bottom: 20px;
                color: var(--whiteColor);
                transition: var(--transition);
                background: linear-gradient(45.24deg, #9F5FF1 5.99%, #FF54B0 91.87%);
                i {
                    left: 0;
                    right: 0;
                    top: 50%;
                    position: absolute;
                    transform: translateY(-50%);
                }
                &.bg2 {
                    background: linear-gradient(44.44deg, #FF4B3F 7.79%, #FFAC30 94.18%);
                }
                &.bg3 {
                    background: linear-gradient(45deg, #ED2775 0%, #FF7448 100%);
                }
                &.bg4 {
                    background: linear-gradient(44.44deg, #3F75FF 7.79%, #4ADEFF 94.18%);
                }
                &.bg5 {
                    background: linear-gradient(43.32deg, #6A55F8 14.73%, #CA48F6 86.35%, #CA48F6 86.35%);
                }
                &.bg6 {
                    background: linear-gradient(45deg, #6A55F8 0%, #EE6C74 100%);
                }
            }
            h3 {
                font-size: 20px;
                margin-bottom: 12px;
                transition: var(--transition);
            }
        }
    }
}

.features-content {
    padding-right: 15px;
    .sub-title {
        display: block;
        margin-bottom: 10px;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.1em;
        font-weight: 600;
    }
    h2 {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    .features-list {
        padding-left: 0;
        list-style-type: none;
        margin: {
            bottom: 0;
            top: 35px;
        }
        ;
        li {
            position: relative;
            margin-bottom: 30px;
            padding-left: 75px;
            .icon {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                background: linear-gradient(45.24deg, #9F5FF1 5.99%, #FF54B0 91.87%);
                position: absolute;
                text-align: center;
                color: var(--whiteColor);
                font-size: 25px;
                left: 0;
                top: 0;
                i {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.bg2 {
                    background: linear-gradient(44.44deg, #FF4B3F 7.79%, #FFAC30 94.18%);
                }
                &.bg3 {
                    background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
                }
            }
            h3 {
                font-size: 17px;
                margin-bottom: 10px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn-box {
        margin-top: 35px;
        .default-btn {
            margin-right: 20px;
        }
        .link-btn {
            font-weight: 600;
            position: relative;
            display: inline-block;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                transition: var(--transition);
                width: 100%;
                bottom: 0;
                height: 1px;
                background-color: var(--blackColor);
            }
            &:hover {
                color: var(--mainColor);
                &::before {
                    width: 0;
                }
            }
        }
    }
}

.features-image {
    filter: drop-shadow(25px 50px 70px rgba(42, 50, 61, 0.15));
    padding-left: 15px;
    position: relative;
    z-index: 1;
}

.features-item {
    margin-bottom: 25px;
    .icon {
        width: 70px;
        height: 70px;
        font-size: 35px;
        position: relative;
        border-radius: 50%;
        color: var(--whiteColor);
        transition: var(--transition);
        background: linear-gradient(45.24deg, #9F5FF1 5.99%, #FF54B0 91.87%);
        margin-bottom: 20px;
        text-align: center;
        i {
            left: 0;
            right: 0;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        }
        &.bg2 {
            background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
        }
        &.bg3 {
            background: linear-gradient(44.44deg, #3F75FF 7.79%, #4ADEFF 94.18%);
        }
        &.bg4 {
            background: linear-gradient(44.44deg, #FF4B3F 7.79%, #FFAC30 94.18%);
        }
    }
    h3 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    &.with-border {
        padding: 40px;
        border: 1px solid #eeeeee;
        transition: var(--transition);
        background-color: var(--whiteColor);
        &:hover {
            box-shadow: 0px 25px 75px rgba(25, 34, 64, 0.15);
        }
    }
}

.features-boxes-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    justify-content: center;
    margin: {
        bottom: 0;
        right: calc(var(--bs-gutter-x)/ -2);
        left: calc(var(--bs-gutter-x)/ -2);
    }
    ;
    li {
        flex: 0 0 auto;
        width: 20%;
        padding: {
            left: calc(var(--bs-gutter-x)/ 2);
            right: calc(var(--bs-gutter-x)/ 2);
        }
        ;
        .features-list-box {
            margin-bottom: 25px;
            text-align: center;
            .icon {
                width: 100px;
                height: 100px;
                font-size: 45px;
                overflow: hidden;
                position: relative;
                border-radius: 50%;
                color: var(--whiteColor);
                transition: var(--transition);
                background: linear-gradient(45.24deg, #9F5FF1 5.99%, #FF54B0 91.87%);
                margin: {
                    left: auto;
                    right: auto;
                    bottom: 25px;
                }
                ;
                i {
                    left: 0;
                    right: 0;
                    top: 50%;
                    position: absolute;
                    transform: translateY(-50%);
                }
                &.bg2 {
                    background: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
                }
                &.bg3 {
                    background: linear-gradient(44.44deg, #3F75FF 7.79%, #4ADEFF 94.18%);
                }
                &.bg4 {
                    background: linear-gradient(44.44deg, #FF4B3F 7.79%, #FFAC30 94.18%);
                }
                &::before {
                    position: absolute;
                    height: 31px;
                    width: 65px;
                    content: '';
                    right: 0;
                    left: 0;
                    top: 0;
                    margin: {
                        left: auto;
                        right: auto;
                    }
                    ;
                    background: {
                        image: url(../../../../../assets/img/shape/shape12.png);
                        position: center center;
                        repeat: no-repeat;
                        size: cover;
                    }
                    ;
                }
                &::after {
                    transform: scaleX(-1) scaleY(-1);
                    position: absolute;
                    height: 31px;
                    width: 65px;
                    content: '';
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: {
                        left: auto;
                        right: auto;
                    }
                    ;
                    background: {
                        image: url(../../../../../assets/img/shape/shape12.png);
                        position: center center;
                        repeat: no-repeat;
                        size: cover;
                    }
                    ;
                }
            }
            h3 {
                font-size: 20px;
                margin-bottom: 0;
            }
        }
    }
}

.overview-area {
    .container-fluid {
        padding: {
            left: 0;
            right: 0;
        }
        ;
    }
}

.overview-content {
    margin-left: auto;
    max-width: 650px;
    padding: {
        top: 100px;
        right: 25px;
        bottom: 100px;
    }
    ;
    .sub-title {
        display: block;
        margin-bottom: 10px;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.1em;
        font-weight: 600;
    }
    h2 {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    .features-list {
        padding-left: 0;
        list-style-type: none;
        margin: {
            bottom: 0;
            top: 35px;
        }
        ;
        li {
            position: relative;
            margin-bottom: 30px;
            padding-left: 50px;
            .icon {
                color: var(--mainColor);
                position: absolute;
                font-size: 35px;
                line-height: 1;
                left: 0;
                top: 0;
            }
            h3 {
                font-size: 17px;
                margin-bottom: 10px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn-box {
        margin-top: 35px;
        .default-btn {
            margin-right: 20px;
        }
        .link-btn {
            display: inline-block;
            position: relative;
            font-weight: 600;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                transition: var(--transition);
                width: 100%;
                bottom: 0;
                height: 1px;
                background-color: var(--blackColor);
            }
            &:hover {
                color: var(--mainColor);
                &::before {
                    width: 0;
                }
            }
        }
    }
}

.overview-image {
    height: 100%;
    margin-left: 25px;
    text-align: center;
    filter: drop-shadow(0px 25px 75px rgba(25, 34, 64, 0.10));
    background-image: url(../../../../../assets/img/overview2.jpg);
    border-radius: 10px 0 0 10px;
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    }
    ;
}

.features-inner {
    box-shadow: 0px 25px 75px rgba(25, 34, 64, 0.10);
    background-color: var(--whiteColor);
    padding: {
        bottom: 25px;
        right: 30px;
        left: 30px;
        top: 50px;
    }
    ;
}

.list-of-features {
    padding-left: 15px;
    .row {
        .col-lg-6 {
            &:nth-child(2) {
                margin-top: 25px;
            }
            &:nth-child(3) {
                margin-top: -25px;
            }
        }
    }
    .features-item {
        padding: 20px;
    }
}


/* Max width 767px */

@media only screen and (max-width: 767px) {
    .single-features-item {
        padding: 20px 15px 20px 80px;
        .icon {
            top: 20px;
            left: 15px;
            width: 50px;
            height: 50px;
            font-size: 20px;
        }
        h3 {
            font-size: 16px;
        }
        &.without-hover {
            padding: 0 0 0 70px;
            margin-bottom: 30px;
        }
    }
    .view-more-box {
        margin-top: 10px;
    }
    .single-features-box {
        .icon {
            width: 60px;
            height: 60px;
            font-size: 30px;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 14px;
        }
    }
    .features-box {
        .icon {
            width: 60px;
            height: 60px;
            font-size: 30px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 15px;
        }
    }
    .features-lists {
        border-top: 1px solid #eeeeee;
        margin-top: 30px;
        padding: {
            left: 0;
            top: 30px;
        }
        ;
        ul {
            li {
                flex: 0 0 auto;
                width: 100%;
                .icon {
                    margin-bottom: 18px;
                }
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    .features-content {
        padding-right: 0;
        h2 {
            font-size: 20px;
            margin-bottom: 12px;
        }
        .features-list {
            margin-top: 25px;
            li {
                margin-bottom: 25px;
                padding-left: 65px;
                h3 {
                    font-size: 15px;
                }
                .icon {
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                }
            }
        }
        .btn-box {
            margin-top: 25px;
        }
    }
    .features-image {
        padding-left: 0;
        margin-top: 35px;
    }
    .features-boxes-list {
        li {
            width: 50%;
            .features-list-box {
                .icon {
                    width: 60px;
                    height: 60px;
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                h3 {
                    font-size: 15px;
                }
            }
        }
    }
    .features-item {
        h3 {
            font-size: 16px;
        }
        .icon {
            width: 60px;
            height: 60px;
            font-size: 30px;
        }
        &.with-border {
            padding: 20px 15px;
        }
    }
    .overview-area {
        .container-fluid {
            padding: {
                left: var(--bs-gutter-x, .75rem);
                right: var(--bs-gutter-x, .75rem);
            }
            ;
        }
    }
    .overview-content {
        max-width: 100%;
        margin-left: 0;
        padding: {
            top: 0;
            right: 0;
            bottom: 0;
        }
        ;
        h2 {
            font-size: 20px;
            margin-bottom: 12px;
        }
        .features-list {
            margin-top: 25px;
            li {
                margin-bottom: 25px;
                padding-left: 0;
                h3 {
                    font-size: 15px;
                }
                .icon {
                    position: relative;
                    margin: {
                        left: auto;
                        right: auto;
                        bottom: 13px;
                    }
                    ;
                }
            }
        }
        .btn-box {
            margin-top: 25px;
        }
    }
    .overview-image {
        height: auto;
        background-image: unset !important;
        margin: {
            top: 30px;
            left: 0;
        }
        ;
        img {
            display: inline-block;
        }
    }
    .features-inner {
        padding: {
            bottom: 0;
            top: 25px;
            left: 15px;
            right: 15px;
        }
        ;
    }
    .list-of-features {
        padding-left: 0;
        margin-top: 30px;
        .row {
            .col-lg-6 {
                &:nth-child(2) {
                    margin-top: 0;
                }
                &:nth-child(3) {
                    margin-top: 0;
                }
            }
        }
    }
}


/* Min width 576px to Max width 767px */

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-features-item {
        padding-left: 15px;
        text-align: center;
        .icon {
            top: 0;
            left: 0;
            position: relative;
            margin: {
                left: auto;
                right: auto;
                bottom: 15px;
            }
            ;
        }
        &.without-hover {
            padding: 0;
        }
    }
    .features-lists {
        ul {
            li {
                width: 50%;
            }
        }
    }
    .features-boxes-list {
        li {
            width: 33.333333%;
        }
    }
    .overview-content {
        .features-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: {
                left: -10px;
                right: -10px;
            }
            ;
            li {
                flex: 0 0 auto;
                width: 50%;
                padding: {
                    left: 10px;
                    right: 10px;
                }
                ;
            }
        }
    }
    .features-inner {
        padding: {
            bottom: 15px;
            left: 15px;
            right: 15px;
            top: 40px;
        }
        ;
        h3 {
            font-size: 15px;
        }
    }
}


/* Min width 768px to Max width 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-features-item {
        padding: 25px 20px 25px 100px;
        h3 {
            font-size: 18px;
        }
        .icon {
            top: 25px;
            left: 20px;
        }
    }
    .single-features-box {
        h3 {
            font-size: 18px;
        }
    }
    .features-box {
        .icon {
            width: 80px;
            height: 80px;
            font-size: 40px;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 16px;
        }
    }
    .features-lists {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #eeeeee;
        ul {
            li {
                h3 {
                    font-size: 18px;
                }
            }
        }
    }
    .features-content {
        padding-right: 0;
        h2 {
            font-size: 28px;
            margin-bottom: 12px;
        }
        .features-list {
            display: flex;
            flex-wrap: wrap;
            margin: {
                left: -15px;
                right: -15px;
            }
            ;
            li {
                flex: 0 0 auto;
                width: 50%;
                padding: {
                    left: 15px;
                    right: 15px;
                }
                ;
                h3 {
                    margin-bottom: 12px;
                }
                .icon {
                    position: relative;
                    margin-bottom: 18px;
                }
            }
        }
        .btn-box {
            margin-top: 25px;
        }
    }
    .features-image {
        padding-left: 0;
        margin-top: 40px;
    }
    .features-item {
        h3 {
            font-size: 18px;
        }
        &.with-border {
            padding: 25px 20px;
        }
    }
    .features-boxes-list {
        li {
            width: 33.333333%;
            .features-list-box {
                .icon {
                    width: 80px;
                    height: 80px;
                    font-size: 40px;
                    margin-bottom: 20px;
                }
                h3 {
                    font-size: 18px;
                }
            }
        }
    }
    .overview-area {
        .container-fluid {
            max-width: 720px;
        }
    }
    .overview-content {
        max-width: 100%;
        margin-left: 0;
        padding: {
            top: 0;
            right: 0;
            bottom: 0;
        }
        ;
        h2 {
            font-size: 28px;
            margin-bottom: 12px;
        }
        .features-list {
            display: flex;
            flex-wrap: wrap;
            margin: {
                left: calc(var(--bs-gutter-x)/ -2);
                right: calc(var(--bs-gutter-x)/ -2);
            }
            ;
            li {
                flex: 0 0 auto;
                width: 33.333333%;
                padding: {
                    left: calc(var(--bs-gutter-x)/ 2);
                    right: calc(var(--bs-gutter-x)/ 2);
                }
                ;
                .icon {
                    position: relative;
                    margin: {
                        left: auto;
                        right: auto;
                        bottom: 13px;
                    }
                    ;
                }
                h3 {
                    margin-bottom: 12px;
                }
                p {
                    max-width: 100%;
                }
            }
        }
        .btn-box {
            margin-top: 0;
        }
    }
    .overview-image {
        height: auto;
        background-image: unset !important;
        margin: {
            top: 40px;
            left: 0;
        }
        ;
        img {
            display: inline-block;
        }
    }
    .list-of-features {
        padding-left: 0;
        margin-top: 30px;
    }
    .features-inner {
        padding: 0;
        box-shadow: unset;
        margin-bottom: -30px;
        background-color: transparent;
    }
}


/* Min width 992px to Max width 1199px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .features-content {
        padding-right: 0;
    }
    .features-image {
        padding-left: 0;
    }
    .features-item {
        &.with-border {
            padding: 30px 19px;
        }
    }
    .features-boxes-list {
        li {
            .features-list-box {
                h3 {
                    font-size: 18px;
                }
            }
        }
    }
    .overview-area {
        border-top: 1px solid #eeeeee;
        padding-top: 85px;
        .container-fluid {
            max-width: 960px;
            padding: {
                left: var(--bs-gutter-x, .75rem);
                right: var(--bs-gutter-x, .75rem);
            }
            ;
        }
    }
    .overview-content {
        max-width: 100%;
        margin-left: 0;
        padding: {
            top: 0;
            right: 0;
            bottom: 0;
        }
        ;
    }
    .overview-image {
        height: auto;
        background-image: unset !important;
        margin: {
            left: 0;
            top: 30px;
        }
        ;
        img {
            display: inline-block;
        }
    }
    .list-of-features {
        padding-left: 0;
        .features-item {
            h3 {
                font-size: 18px;
            }
            &.with-border {
                padding: 20px 15px;
            }
        }
    }
}


/* Min width 1200px to Max width 1399px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .overview-content {
        max-width: 560px;
        padding: {
            top: 80px;
            right: 15px;
            bottom: 80px;
        }
        ;
    }
    .overview-image {
        margin-left: 15px;
    }
    .list-of-features {
        padding-left: 0;
        .features-item {
            &.with-border {
                padding: 25px;
            }
        }
    }
}


/* Min width 1550px */

@media only screen and (min-width: 1550px) {}