<div class="container">
    <div class="section-title">
        <span class="sub-title">Key Benefits</span>
        <h2>Increase Productivity & ROI and Operational Preparedness</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon">
                    <img src="assets/img/benefits/icons/fea-1.png" alt="fea-1.png">
                </div>
                <h3>Explore New Markets</h3>
                <p>The best solution for businesses that want money to work harder for bringing in more profits.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg2">
                    <img src="assets/img/benefits/icons/fea-2.png" alt="fea-2.png">
                </div>
                <h3>Optimize Processes</h3>
                <p>Give your customers an unforgettable experience and make them come again and again and increase conversion ratio.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg3">
                    <img src="assets/img/benefits/icons/fea-3.png" alt="fea-3.png">
                </div>
                <h3>Reach Out Faster</h3>
                <p>Be the first to reach out to customers where the action is taking place and get the first-to-reach advantage.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg4">
                    <img src="assets/img/benefits/icons/fea-4.png" alt="fea-4.png">
                </div>
                <h3>Streamline Operation</h3>
                <p>Remove the confusions that come when you are operating in multiple social media and streamline services.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg5">
                    <img src="assets/img/benefits/icons/fea-5.png" alt="fea-5.png">
                </div>
                <h3>Reduce Expenses</h3>
                <p>Reduce your customer acquisition expenses and strengthen your market reputation for best service level.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg6">
                    <img src="assets/img/benefits/icons/fea-6.png" alt="fea-6.png">
                </div>
                <h3>Take Control</h3>
                <p>Exercise greater control over customer relationship and reduce the time to response by 90% in minimum time.</p>
            </div>
        </div>
    </div>
</div>