<app-navbar-style-four></app-navbar-style-four>

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Our Clients</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Our Clients</li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<div class="app-client-areas pt--80 pb--80">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Our Portfolio</h2>
                <p>Our customers speak volumes about our prowess in delivering products and services that meet the highest standards. Join our clientele list and experience first-class cost-effective products and services.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/1.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/2.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/3.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/4.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/5.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/6.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/7.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/8.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/9.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/10.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/11.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/12.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/13.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/14.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/15.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/16.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/17.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/18.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/19.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/20.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/21.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/22.png" alt="Client">
                </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12">
                <div class="btn-box text-center mt--30">
                    <a routerLink="/" class="link-btn">Be Our Exclusive Partner! <strong>View all clients</strong></a>
                </div>
            </div> -->
        </div>
    </div>
</div>

<app-contact-info></app-contact-info>

<!-- footer -->
<app-footer-octopus></app-footer-octopus>
<!-- end footer -->