//Clients
.app-client {
    padding: 20px;
    border: 1px dashed #f5f5f5;
}

.link-btn strong {
    color: var(--btnButton);
    transition-delay: 0.4ms;
}

.link-btn strong:hover {
    color: var(--mainColor);
}

.cli-lg {
    padding: 0;
}