<div class="about-area gray-color pt--80">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="assets/img/home/bountiful-benefits.png" data-aos="fade-up" alt="Bountiful Benefits">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <!-- <span class="sub-title"></span> -->
                    <h2>Bountiful Benefits for Higher Profits and Bigger Market Share</h2>
                    <p>AI Octopus makes customer acquisition and retention a cakewalk. From acquiring new orders to reaching out to new territories, you will benefit from lower costs, new technologies, faster response, instant customer gratification and
                        great reputation.</p>
                    <div class="features-text">
                        <h6>Centralized Operations</h6>
                        <p>You can centralize all your social media in the CRM and strategize your marketing game plans that will leave the competition awestruck.</p>
                    </div>
                    <div class="features-text">
                        <h6>Focused Approach</h6>
                        <p>Make best use of your social media presence by directing your organizations’ core competencies by channelizing with demographic synergies.</p>
                    </div>
                    <div class="btn-box">
                        <a routerLink="/contact" class="default-btn">Get Started</a>
                        <a routerLink="/benefits" class="link-btn">See All Benefits</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>