.about-content {
    h2 {
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 15px;
    }
    margin: 60px 0;
}

.btn-box {
    margin-top: 35px;
    .default-btn {
        margin-right: 20px;
    }
    .link-btn {
        font-weight: 600;
        position: relative;
        display: inline-block;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            transition: var(--transition);
            width: 100%;
            bottom: 0;
            height: 1px;
            background-color: var(--blackColor);
        }
        &:hover {
            color: var(--mainColor);
            &::before {
                width: 0;
            }
        }
    }
}