<div class="container">
    <div class="app-download-inner bg-gray">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="app-download-content">
                    <span class="sub-title">Download App</span>
                    <h2>Kick Start a New Chapter in Marketing with AI Octopus</h2>
                    <p>It is never too early to give your customers a rich experience that will make them come for more. Email us for more details about managing customer related challenges with AI Octopus.</p>
                    <div class="btn-box">
                        <a href="https://play.google.com/store/apps/details?id=com.isoft.octopus" class="playstore-btn" target="_blank">
                            <img src="assets/img/play-store.png" alt="image"> Get It On
                            <span>Google Play</span>
                        </a>
                        <a href="https://apps.apple.com/us/app/ai-octopus/id1559212459" class="applestore-btn" target="_blank">
                            <img src="assets/img/apple-store.png" alt="image"> Download on the
                            <span>Apple Store</span>
                        </a>
                        <a href="https://ai-octopus.com/login" class="playstore-btn" target="_blank">
                            <img src="assets/img/web.png" alt="image"> Get Started
                            <span>Web App</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-download-image">
                    <img src="assets/img/app/app-img4.png" alt="app-img">
                </div>
            </div>
        </div>
    </div>
</div>