<div class="gradient-main-banner">
    <div class="container-fluid">
        <div class="gradient-main-banner-inner">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <span class="sub-title">#The Real Social Media CRM</span>
                        <h1>Optimize your Social Media Assets with Our CRM and Capture New Opportunities</h1>
                        <p>The Quick-react Tool for Technology-driven Businesses.</p>
                        <a routerLink="/sign-in" class="default-btn">Start Free Trial</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="image">
                        <img src="assets/img/banner/banner-img4.png" alt="banner-img">
                    </div>
                </div>
            </div>
            <div class="banner-shape1"><img src="assets/img/shape/shape1.png" alt="image"></div>
            <div class="banner-shape3"><img src="assets/img/shape/shape3.png" alt="image"></div>
            <div class="banner-shape4"><img src="assets/img/shape/shape4.png" alt="image"></div>
            <div class="banner-shape5"><img src="assets/img/shape/shape5.png" alt="image"></div>
            <div class="banner-shape6"><img src="assets/img/shape/shape5.png" alt="image"></div>

            <div class="banner-shape2"><img src="assets/img/shape/shape7.png" alt="image"></div>
            <div class="banner-shape9"><img src="assets/img/shape/shape21.png" alt="image"></div>
            <div class="banner-shape10"><img src="assets/img/shape/shape8.png" alt="image"></div>
            <div class="banner-shape11"><img src="assets/img/shape/shape22.png" alt="image"></div>
        </div>
    </div>
</div>