<div class="footer-area">
    <div class="container">
        <div class="footer-content">
            <a routerLink="/" class="logo">
                <img src="assets/img/logo2.png" alt="logo">
            </a>
            <ul class="social-links">
                <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                <li><a href="#" target="_blank"><i class="ri-messenger-fill"></i></a></li>
                <li><a href="#" target="_blank"><i class="ri-instagram-fill"></i></a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a routerLink="/features" class="nav-link">Features</a></li>
                <li class="nav-item"><a routerLink="/benefits" class="nav-link">Benefits</a></li>
                <li class="nav-item"><a routerLink="/clients" class="nav-link">Our Clients</a></li>
                <li class="nav-item"><a routerLink="/pricing" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
            </ul>
            <p class="copyright">2021 © Developed & Maintained by <a href="https://isoftcell.in/" target="_blank">iSoftcell</a>, Powered by <a href="https://almulla-media.com/" target="_blank">Almulla Media</a> </p>
        </div>
    </div>
</div>