<div class="contact-info-area pb-100">
    <div class="container">
        <div class="contact-info-inner">
            <h2>Get in touch any time <span>We receive a wide range of questions frequently. Please feel free to ask your question, We usually respond within 24 hours.</span></h2>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-contact-info-box">
                        <div class="icon bg1">
                            <img src="assets/img/india.png" alt="india">
                        </div>
                        <h5>India</h5>
                        <p>#7, 3rdfloor, Above Lakme, 1st Main Rd, Stage2, domlur, Land Mark: Next to HDFC Bank, above lakme, Pin: 560071.</p>
                        <h3><span>Mobile</span> : <a href="tel:+91 9751992375"> (+91) 97519 92375</a></h3>
                        <h3><span>Email</span> :<a href="mailto:info@isoftcell.in"> info@isoftcell.in</a></h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-contact-info-box">
                        <div class="icon bg1">
                            <img src="assets/img/kuwait.png" alt="kuwait">
                        </div>
                        <h5>Kuwait</h5>
                        <p>Almulla Media #270, Shekha Complex, Al-blajet street Salmiya, Kuwait.</p>
                        <h3><span>Mobile</span> : <a href="tel:+965 2575 6568">(+965) 2575 6568</a></h3>
                        <h3><span>Email</span> : <a href="mailto:info@almulla-media.com">info@almulla-media.com</a></h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-contact-info-box">
                        <div class="icon bg1">
                            <img src="assets/img/saudi-arabia.png" alt="saudi-arabia">
                        </div>
                        <h5>Saudi Arabia Partners</h5>
                        <p>2827 Anas bin malek Street Al-Malga, Riyadh.</p>
                        <h3><span>Mobile</span> : <a href="tel:+966 12244 7368">(+966) 12244 7368</a></h3>
                        <h3><span>Email</span> : <a href="mailto:info@almulla-media.com">info@almulla-media.com</a></h3>
                    </div>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>