.contact-info-inner {
    background: linear-gradient( 26.1deg, #1d1773 0%, #59308c 100%);
    padding: 100px 100px 75px;
    text-align: center;
    position: relative;
    z-index: 1;
    h2 {
        color: var(--whiteColor);
        line-height: 1.2;
        max-width: 600px;
        margin: {
            left: auto;
            right: auto;
            bottom: 40px;
        }
        ;
        font: {
            size: 36px;
            weight: 400;
        }
        ;
        span {
            display: block;
            font-size: 1.2rem;
            font-weight: 300;
            color: #ffffff;
            margin-top: 10px;
        }
    }
    .single-contact-info-box {
        padding: 30px;
        margin-bottom: 25px;
        background-color: var(--whiteColor);
        border-radius: 10px;
        min-height: 320px;
        text-align: left;
        .icon {
            width: 80px;
            height: 80px;
            font-size: 35px;
            position: relative;
            border-radius: 50%;
            color: var(--whiteColor);
            margin: {
                bottom: 20px;
            }
            ;
            i {
                left: 0;
                right: 0;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
            }
        }
        p {
            color: #6b6b6b;
            font-size: 1rem;
            line-height: 1.4;
        }
        h3 {
            line-height: 1.5;
            margin-bottom: 3px;
            font: {
                size: 1rem;
                weight: 500;
            }
            ;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: var(--btnButton);
                &:hover {
                    color: var(--mainColor);
                }
            }
            span {
                display: inline-block;
                width: 54px;
            }
        }
    }
}


/* Max width 767px */

@media only screen and (max-width: 767px) {
    .contact-info-inner {
        padding: 60px 15px 35px;
        h2 {
            max-width: 100%;
            font-size: 20px;
            margin-bottom: 30px;
        }
        .single-contact-info-box {
            padding: 20px 15px;
            .icon {
                width: 70px;
                height: 70px;
                font-size: 30px;
            }
            h3 {
                font-size: 16px;
            }
        }
    }
}


/* Min width 576px to Max width 767px */

@media only screen and (min-width: 576px) and (max-width: 767px) {}


/* Min width 768px to Max width 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-info-inner {
        padding: 80px 30px 55px;
        h2 {
            font-size: 30px;
        }
        .single-contact-info-box {
            h3 {
                margin-bottom: 5px;
                font-size: 16px;
            }
        }
    }
}


/* Min width 992px to Max width 1199px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact-info-inner {
        padding: 100px 30px 75px;
    }
}


/* Min width 1200px to Max width 1399px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .contact-info-inner {
        padding: 100px 50px 75px;
    }
}


/* Min width 1550px */

@media only screen and (min-width: 1550px) {}