<div class="software-integrations-area ptb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="software-integrations-content">
                    <span class="sub-title">Relevant Technologies</span>
                    <h2>Making Technologies Work with Razor-sharp Precision</h2>
                    <p>Ours is a top notch technology firm reputed for applying technologies into IT products and services that make a positive impact on customer experience. It is our avowed objective to see our customers succeed from a global perspective.</p>
                    <p>Expect us to upgrade key competencies regularly and empower our technology team to deliver world-class unbeatable products that make doing business simpler, easier and more profitable.</p>
                    <a routerLink="/contact" class="default-btn">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="software-integrations-list">
                    <img src="assets/img/shape/bg-shape2.png" alt="bg-shape">
                    <ul>
                        <li><img src="assets/img/features/tech/tech-1.png" alt="tech-1"></li>
                        <li><img src="assets/img/features/tech/tech-2.png" alt="tech-2"></li>
                        <li><img src="assets/img/features/tech/tech-3.png" alt="tech-3"></li>
                        <li><img src="assets/img/features/tech/tech-4.png" alt="tech-4"></li>
                        <li><img src="assets/img/features/tech/tech-5.png" alt="tech-5"></li>
                        <li><img src="assets/img/features/tech/tech-center.png" alt="tech-center"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>