<div class="container">
    <div class="section-title">
        <span class="sub-title">Stay Confident</span>
        <h2>Build Confidence among Team Members</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon">
                    <img src="assets/img/benefits/icons/sec-1.png" alt="sec-1.png">
                </div>
                <h3>Quicken Response</h3>
                <p>Your relationship teams’ ability to respond on time every time will become sustainable – no more unpleasant surprises.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg2">
                    <img src="assets/img/benefits/icons/sec-2.png" alt="sec-2.png">
                </div>
                <h3>Team Collaboration</h3>
                <p>Utilize teams’ creativity and put it into action by harnessing individual talents and passing it to the team.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg3">
                    <img src="assets/img/benefits/icons/sec-3.png" alt="sec-3.png">
                </div>
                <h3>Increase ROI</h3>
                <p>Saving time and bringing all social media assets under a single roof will improve asset usage and increase returns on investment.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg4">
                    <img src="assets/img/benefits/icons/sec-4.png" alt="sec-4.png">
                </div>
                <h3>Productivity Increase</h3>
                <p>AI Octopus is designed to force multiply human efforts and encourage teams members to concentrate on creativity.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg5">
                    <img src="assets/img/benefits/icons/sec-5.png" alt="sec-5.png">
                </div>
                <h3>Higher Profits</h3>
                <p>Increased productivity, higher customer retention rate, cheaper account acquisition will add to bigger profits.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6 col-md-6">
            <div class="single-features-item">
                <div class="icon bg6">
                    <img src="assets/img/benefits/icons/sec-6.png" alt="sec-6.png">
                </div>
                <h3>Zero Maintenance</h3>
                <p>AI Octopus brings you the benefits of blending ultra-modern technologies with practical planning for trouble-free service.</p>
            </div>
        </div>
    </div>
</div>