<div class="app-progress-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="app-progress-animation-image">
                    <img src="assets/img/benefits/benefit-1.png" alt="benefit-1">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-progress-content">
                    <span class="sub-title">24/7 Advantage</span>
                    <h2>Keep a Close Tab on Customer Queries and Convert to Revenue</h2>
                    <p>The best way to convert potential queries into paying customer is by responding instantly. Our customers take advantage of AI Octopus’ 24/7 Hawkeye capabilities to grab enquiries as it unfurls and convert them into regular customers
                        for improved revenue.</p>
                    <p>If you want an automated customer response system that will work worldwide relentlessly and help in achieving optimal ROI then this is for your business.</p>
                    <a routerLink="/pricing" class="default-btn">Pricing Plan</a>
                </div>
            </div>
        </div>
    </div>
</div>