<app-navbar-style-four></app-navbar-style-four>

<!-- Breadcrumb -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Features</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Features</li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- End of breadcrumb -->

<!-- app-pricing-one -->
<section class="app-pricing-one pt--80 pb--80">
    <app-pricing-one></app-pricing-one>
</section>

<!-- app-download-app-style-two -->
<div class="app-download-area gray-color">
    <app-download-app-style-two></app-download-app-style-two>
</div>

<!-- footer -->
<app-footer-octopus></app-footer-octopus>
<!-- end footer -->