<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="features-content">
                <!-- <span class="sub-title"></span> -->
                <h2>Explore AI Octopus and Discover New Demography</h2>
                <p>AI Octopus was made to give businesses a tool that will take the hardest part out of retaining and capturing new customers. It is packed with so many practical features for innovating CRM initiatives in your organization.</p>
                <p>Your team and your customers will be delighted to do business with you through eternity.</p>
                <div class="btn-box">
                    <a routerLink="/contact-sales" class="default-btn">Contact Sales</a>
                    <a routerLink="/pricing" class="link-btn">Pricing Plan</a>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="list-of-features">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="features-item with-border">
                            <div class="icon">
                                <img src="assets/img/features/icons/icon-1.png" alt="Integrate Whatsapp">
                            </div>
                            <h3>Integrate Whatsapp</h3>
                            <p>Extend your reach to extreme corners of the world and with automated messages, videos that are customized for specific demography.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="features-item with-border">
                            <div class="icon">
                                <img src="assets/img/features/icons/icon-2.png" alt="Multi Social Media">
                            </div>
                            <h3>Multi Social Media</h3>
                            <p>Integrate with multiple social media simultaneously and broadcast for effective time management and higher resource utilization.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="features-item with-border">
                            <div class="icon">
                                <img src="assets/img/features/icons/icon-3.png" alt="BOT Chat">
                            </div>
                            <h3>BOT Chat</h3>
                            <p>Use artificial intelligence BOT for engaging customers and provide context relevant answers for better customer acceptance of your business.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="features-item with-border">
                            <div class="icon">
                                <img src="assets/img/features/icons/icon-4.png" alt="Video Capabilities">
                            </div>
                            <h3>Video Capabilities</h3>
                            <p>Make complex things look simpler with videos that will capture your customers’ imagination and make them come for more and more.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center features-four-container">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-md-6">
            <div class="features-item with-border">
                <div class="icon">
                    <img src="assets/img/features/icons/icon-5.png" alt="Interact with Customers">
                </div>
                <h3>Interact with Customers</h3>
                <p>Take your service offering to the next level with interactive offerings – describe product details, provide support 23/7, capture data, do analytics and more.</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-md-6">
            <div class="features-item with-border">
                <div class="icon">
                    <img src="assets/img/features/icons/icon-6.png" alt="Customer Ticketing">
                </div>
                <h3>Customer Ticketing</h3>
                <p>Intelligently segregate customer queries and classify for responding – add tags and monitor how your team is responding to your CRM initiatives.</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-md-6">
            <div class="features-item with-border">
                <div class="icon">
                    <img src="assets/img/features/icons/icon-7.png" alt="Record Responses">
                </div>
                <h3>Record Responses</h3>
                <p>Set on or off recording for analytics – do diagnose and define best response scenarios so that your customers will keep coming back for your products and services.</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-md-6">
            <div class="features-item with-border">
                <div class="icon">
                    <img src="assets/img/features/icons/icon-8.png" alt="Customized Dashboard">
                </div>
                <h3>Customized Dashboard</h3>
                <p>Change the look and feel of your dashboard that is optimized for your expectations – print reports and distribute information over your organization higher performance.</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-md-6">
            <div class="features-item with-border">
                <div class="icon">
                    <img src="assets/img/features/icons/icon-9.png" alt="Generate Sales Leads">
                </div>
                <h3>Generate Sales Leads</h3>
                <p>Bring down your lead generation costs by up to 50% or even more to optimal levels with our enquire capture techniques – get higher market share.</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-md-6">
            <div class="features-item with-border">
                <div class="icon">
                    <img src="assets/img/features/icons/icon-10.png" alt="Reassign Customer Tickets">
                </div>
                <h3>Reassign Customer Tickets</h3>
                <p>Automated customer ticketing is a feature that will let you transfer queries to multiple support agents for resolving customer queries without leaving them frustrated.</p>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-sm-6 col-md-6">
            <div class="features-item with-border">
                <div class="icon">
                    <img src="assets/img/features/icons/icon-11.png" alt="Attach Queries to Tickets">
                </div>
                <h3>Attach Queries to Tickets</h3>
                <p>By attaching queries to customers’ tickets, your agents can deliver higher level services with optimum time management – this means faster services at lesser cost.</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-md-6">
            <div class="features-item with-border">
                <div class="icon">
                    <img src="assets/img/features/icons/icon-12.png" alt="Prioritized Smart Tickets">
                </div>
                <h3>Prioritized Smart Tickets</h3>
                <p>Optimize your CRM handling system and create a hierarchy of how tickets are to be handled – choose between many levels – High level, Urgent Attention, Low Priority…etc.</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-md-6">
            <div class="features-item with-border">
                <div class="icon">
                    <img src="assets/img/features/icons/icon-13.png" alt="Create Predefined Templates">
                </div>
                <h3>Create Predefined Templates</h3>
                <p>Help your customer service agents to respond positively and precisely with templates that have created for monotonous replies – save time and increase productivity.</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-md-6">
            <div class="features-item with-border">
                <div class="icon">
                    <img src="assets/img/features/icons/icon-14.png" alt="Broadcast">
                </div>
                <h3>Broadcast</h3>
                <p>Want to reach out to all your customers in a single go -- do it in style with the broadcast feature and get instant responses -- Simply the best for reaching out worldwide.</p>
            </div>
        </div>
    </div>
</div>