<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="features-content">
                <!-- <span class="sub-title"></span> -->
                <h2>Strategize SM to Meet Challenges</h2>
                <p>Social media is where action is taking place and AI Octopus is the perfect tool that businesses across the world trust to keep in close touch with customers. Empowers to react swiftly as an arrow in guarding your reputation for building
                    strong customer relationship cost effectively.</p><br>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-2 col-sm-6 col-md-6">
            <div class="funfacts-box">
                <div class="icon">
                    <img src="assets/img/icons/sm/fm.png" alt="Facebook Messenger">
                </div>
                <p>Facebook Messenger</p>
                <h3><span>2</span>B</h3>
                <p>Users</p>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-6">
            <div class="funfacts-box bg1">
                <div class="icon">
                    <img src="assets/img/icons/sm/wta.png" alt="Whatsapp">
                </div>
                <p>Whatsapp</p>
                <h3><span>1.2</span>B</h3>
                <p>Users</p>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-6">
            <div class="funfacts-box bg2">
                <div class="icon">
                    <img src="assets/img/icons/sm/tw.png" alt="Twitter">
                </div>
                <p>Twitter</p>
                <h3><span>206</span>M</h3>
                <p>Users</p>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-6">
            <div class="funfacts-box bg3">
                <div class="icon">
                    <img src="assets/img/icons/sm/inta.png" alt="Instagram">
                </div>
                <p>Instagram</p>
                <h3><span>1</span>B</h3>
                <p>Users</p>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-6">
            <div class="funfacts-box bg3">
                <div class="icon">
                    <img src="assets/img/icons/sm/yt.png" alt="YouTube">
                </div>
                <p>YouTube</p>
                <h3><span>197</span>M</h3>
                <p>Users</p>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-6">
            <div class="funfacts-box bg3">
                <div class="icon">
                    <img src="assets/img/icons/sm/in.png" alt="inkedIn">
                </div>
                <p>LinkedIn</p>
                <h3><span>774</span>M</h3>
                <p>Users</p>
            </div>
        </div>
    </div>
</div>