<div class="stats-area">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Reach</span>
            <h2>Look Beyond the Horizon for Global Share</h2>
        </div>
        <div class="stats-map text-center">
            <img src="assets/img/map.png" alt="map">
        </div>
    </div>
</div>