<div class="navbar-area navbar-style-four" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied">
            <a class="navbar-brand" routerLink="/"><img src="assets/img/black-logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a routerLink="/features" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Features</a></li>
                    <li class="nav-item"><a routerLink="/benefits" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Benefits</a></li>
                    <li class="nav-item"><a routerLink="/clients" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Our Clients</a></li>
                    <li class="nav-item"><a routerLink="/pricing" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pricing</a></li>
                    <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                </ul>
                <div class="others-option">
                    <a routerLink="/contact-sales" class="ai-sale-link"><i class="ri-customer-service-2-fill"></i> Contact Sales</a>
                    <a href="https://ai-octopus.com/login" class="default-btn">Get Started</a>
                </div>
            </div>
        </nav>
    </div>
</div>