<div class="app-client-areas">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/1.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/2.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/3.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/4.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/5.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/6.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/7.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/8.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/9.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/10.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/11.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/12.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/13.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/14.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/15.png" alt="Client">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cli-lg cli-md">
                <div class="app-client text-center">
                    <img src="assets/img/clients/16.png" alt="Client">
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="btn-box text-center mt--30">
                    <a routerLink="/clients" class="link-btn">Be Our Exclusive Partner! <strong>View all clients</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>