<div class="partner-slides">
    <owl-carousel-o [options]="partnerSlides">
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/1.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/2.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/3.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/4.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/5.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/6.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/7.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/8.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/9.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/10.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/11.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/12.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/13.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/14.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/15.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/16.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/17.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/18.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/19.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/20.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/21.png" alt="image">
                </a>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="partner-item">
                <a href="#" class="d-block">
                    <img src="assets/img/clients/22.png" alt="image">
                </a>
            </div>
        </ng-template>

    </owl-carousel-o>
</div>