<div class="app-progress-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="app-progress-image text-center">
                    <img src="assets/img/features/features-2.png" alt="features-2">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-progress-content">
                    <span class="sub-title">React Swiftly</span>
                    <h2>Respond at Lightning Speed to Customer Queries</h2>
                    <p>One of the top features your relationship team will like about AI Octopus is the automated response system designed to replace human attendance. Our Artificial Intelligence response technology coupled with machine learning and algorithm
                        matrices will read the customers mind with precision and react contextually giving best customer experiences.</p>
                    <p>Intelligent complaint tagging is a feature that your team will find indispensable for customer retention – intelligent tagging will automatically route complaints to the right person and department for taking action at high speed.
                        You can add your own tagline too.</p>
                    <a routerLink="/contact" class="default-btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>