<div class="software-integrations-area ptb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="software-integrations-content">
                    <!-- <span class="sub-title"></span> -->
                    <h2>Power Link and Engage with Customers Like a Master Marketer</h2>
                    <p>Here at last is a tool you have been yearning for connecting with your customers with text/email messages and answering with smart Chatbots that work like trusted lieutenants in a robust platform built with artificial intelligence
                        technologies.
                    </p>
                    <p>It is designed to capture actions as they unfurl and convert casual visitors into customers and build a solid foundation of loyal patrons cost effectively.</p>
                    <a routerLink="/contact" class="default-btn">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="software-integrations-list">
                    <img src="assets/img/shape/bg-shape2.png" alt="bg-shape">
                    <ul>
                        <li><img src="assets/img/software-integrations/fm.png" alt="atlassian"></li>
                        <li><img src="assets/img/software-integrations/tw.png" alt="skype"></li>
                        <li><img src="assets/img/software-integrations/inst.png" alt="gdrive"></li>
                        <li><img src="assets/img/software-integrations/yt.png" alt="slack"></li>
                        <li><img src="assets/img/software-integrations/wta.png" alt="jira"></li>
                        <li><img src="assets/img/software-integrations/frame.png" alt="frame"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>