<app-navbar-style-four></app-navbar-style-four>

<app-home-banner></app-home-banner>

<div class="partner-area pt--50 pb--50">
    <app-shot-clients></app-shot-clients>
</div>

<!-- app-home-softer-integration -->
<section class="pt--80 pb--80">
    <app-home-softer-integration></app-home-softer-integration>
</section>
<!-- End app-home-softer-integration -->
<!-- app-home-funfacts-area -->
<section class="pt--80 pb--80 gray-color">
    <app-home-funfacts-area></app-home-funfacts-area>
</section>
<!-- End app-home-funfacts-area -->
<!-- app-home-features-area -->
<section class="pt--80 pb--80">
    <app-home-features-area></app-home-features-area>
</section>
<!-- End app-home-features-area -->
<!-- app-home-about-octopus -->
<section>
    <app-home-about-octopus></app-home-about-octopus>
</section>
<!-- End app-home-about-octopus -->
<!-- app-home-app-integratio -->
<section class="pt--80 pb--80">
    <app-home-app-integration></app-home-app-integration>
</section>
<!-- End app-home-app-integratio -->

<div class="app-download-area gray-color">
    <app-download-app-style-two></app-download-app-style-two>
</div>

<!-- <app-screenshots-style-six></app-screenshots-style-six>

<div class="testimonials-area ptb-100">
    <app-feedback-style-five></app-feedback-style-five>
</div>

<div class="free-trial-area">
    <app-free-trial-style-three></app-free-trial-style-three>
</div>

<div class="pricing-area pt-100">
    <app-pricing-style-two></app-pricing-style-two>
    <div class="shape12"><img src="assets/img/shape/shape11.png" alt="shape"></div>
    <div class="shape13"><img src="assets/img/shape/shape15.png" alt="shape"></div>
</div>

<app-blog></app-blog> -->

<!-- footer -->
<app-footer-octopus></app-footer-octopus>
<!-- end footer -->