.funfacts-box {
    text-align: center;
    margin-bottom: 25px;
    .icon {
        line-height: 1;
        font-size: 55px;
        margin-bottom: 15px;
        color: var(--whiteColor);
    }
    p {
        opacity: .95;
        line-height: 1;
        font-size: 18px;
        margin-bottom: 20px;
        color: var(--mainColor);
        font-weight: 600;
    }
    h3 {
        line-height: 1;
        font-size: 40px;
        margin-bottom: 0;
        color: var(--btnButton);
    }
}


/* Max width 767px */

@media only screen and (max-width: 767px) {
    .funfacts-box {
        padding: 20px 15px;
        .icon {
            font-size: 40px;
        }
        p {
            font-size: 14px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 30px;
        }
    }
}


/* Min width 576px to Max width 767px */

@media only screen and (min-width: 576px) and (max-width: 767px) {}


/* Min width 768px to Max width 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .funfacts-box {
        .icon {
            font-size: 45px;
        }
        p {
            font-size: 15px;
        }
        h3 {
            font-size: 30px;
        }
    }
}


/* Min width 992px to Max width 1199px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .funfacts-box {
        padding: 20px;
        p {
            font-size: 16px;
        }
    }
}


/* Min width 1200px to Max width 1399px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}


/* Min width 1550px */

@media only screen and (min-width: 1550px) {}