<app-navbar-style-four></app-navbar-style-four>

<!-- Breadcrumb -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Empower your Team for Superior Performance</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Benefits</li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- End of breadcrumb -->

<!-- app-benefits-one -->
<section class="pt--80 pb--80">
    <app-benefits-one></app-benefits-one>
</section>

<!-- app-benefits-two -->
<section class="pt--80 pb--80 gray-color">
    <app-benefits-two></app-benefits-two>
</section>

<!-- app-benefits-three -->
<section class="pt--80 pb--80">
    <app-benefits-three></app-benefits-three>
</section>

<!-- app-benefits-four -->
<section class="pt--80 pb--80 gray-color">
    <app-benefits-four></app-benefits-four>
</section>

<!-- app-benefits-five -->
<section class="pt--80 pb--80">
    <app-benefits-five></app-benefits-five>
</section>

<!-- app-download-app-style-two -->
<div class="app-download-area gray-color">
    <app-download-app-style-two></app-download-app-style-two>
</div>

<!-- footer -->
<app-footer-octopus></app-footer-octopus>
<!-- end footer -->