<app-navbar-style-four></app-navbar-style-four>

<section class="pt--80">
    <app-contact-info></app-contact-info>
</section>

<!-- footer -->
<app-footer-octopus></app-footer-octopus>
<!-- end footer -->