<div class="software-integrations-area ptb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="software-integrations-content">
                    <span class="sub-title">Channelize Synergies</span>
                    <h2>One Solution for Multiple Social Media Customer Engagement</h2>
                    <p>Empower your customer management team with AI Octopus for orchestrating all SM touch points and instantly respond to customers’ queries and concerns. Build a solid reputation that is unshakable by communicating on time every time.</p>
                    <p>Crack the code that makes customers stay with your products and services by capturing all mentions and analyzing for better insights of customers in designing and developing new products and services.</p>
                    <a routerLink="/contact" class="default-btn">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="software-integrations-list">
                    <img src="assets/img/shape/bg-shape2.png" alt="bg-shape">
                    <ul>
                        <li><img src="assets/img/software-integrations/mail.png" alt="mail"></li>
                        <li><img src="assets/img/software-integrations/chat.png" alt="chat"></li>
                        <li><img src="assets/img/software-integrations/cloud.png" alt="cloud"></li>
                        <li><img src="assets/img/software-integrations/media.png" alt="media"></li>
                        <li><img src="assets/img/software-integrations/support.png" alt="support"></li>
                        <li><img src="assets/img/software-integrations/bot.png" alt="frame"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>