.pricing-area {
    position: relative;
    z-index: 1;
    &.bg-black-color {
        background-color: var(--blackColor);
        .shape8 {
            bottom: 78%;
            left: 76%;
        }
    }
    &.bg-gradient-color {
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            z-index: -1;
            position: absolute;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            background: linear-gradient(279.99deg, #9F5FF1 -1.19%, #FF54B0 50.99%, #FF9F5A 100%);
        }
    }
    &.gradient-color {
        background: linear-gradient(76.8deg, #2BA6AC 0%, #36CE83 53.03%, #42E695 100%);
    }
}

.pricing-section-title {
    top: -40px;
    position: relative;
    padding-right: 40px;
    .sub-title {
        display: block;
        font-weight: 600;
        margin-bottom: 12px;
        letter-spacing: 0.1em;
        color: var(--whiteColor);
    }
    h2 {
        font-size: 36px;
        line-height: 1.4;
        color: var(--whiteColor);
    }
    .link-btn {
        opacity: 0.9;
        font-weight: 600;
        position: relative;
        display: inline-block;
        color: var(--whiteColor);
        &::before {
            left: 0;
            bottom: 0;
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            transition: var(--transition);
            background-color: var(--whiteColor);
        }
        &:hover {
            opacity: 1;
            color: var(--whiteColor);
            &::before {
                width: 0;
            }
        }
    }
    &.black-color {
        .sub-title {
            background: var(--gradientColor);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h2 {
            color: var(--btnButton);
        }
        h1 {
            font-size: 4rem;
            color: var(--mainColor);
            i {
                font-size: 0.9rem;
                color: var(--paragraphColor);
                font-weight: 400;
            }
        }
        .link-btn {
            opacity: 1;
            color: var(--paragraphColor);
            &::before {
                background: var(--paragraphColor);
            }
            &:hover {
                color: var(--mainColor);
            }
        }
    }
}

.single-pricing-table {
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
    transition: var(--transition);
    background-color: var(--whiteColor);
    .title {
        h3 {
            font-size: 24px;
            margin-bottom: 20px;
            color: var(--btnButton);
        }
    }
    .price {
        margin-bottom: 30px;
        line-height: 1;
        font: {
            size: 48px;
            weight: 700;
        }
        ;
        span {
            margin-left: -10px;
            display: inline-block;
            color: var(--paragraphColor);
            font: {
                size: var(--fontSize);
                weight: normal;
            }
            ;
        }
    }
    .features-list {
        padding-left: 0;
        list-style-type: none;
        padding: 30px 0;
        margin: {
            top: 35px;
            bottom: 0;
        }
        ;
        li {
            .green {
                color: #004a28;
            }
            margin-bottom: 12px;
            position: relative;
            padding-left: 0;
            span {
                position: relative;
                background-color: #ffffff;
                padding-right: 20px;
                z-index: 1;
                display: inline-block;
            }
            &::before {
                content: '';
                position: absolute;
                border-bottom: 1px dashed #cccccc;
                width: 100%;
                top: 13px;
            }
            font: {
                size: 16px;
                weight: 500;
            }
            ;
            i {
                top: -3.5px;
                left: -2px;
                font-size: 22px;
                color: var(--mainColor);
                position: absolute;
                &.ri-close-line {
                    color: red;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.sec-list {
            background-color: var(--btnButton);
            padding: 30px;
            border-radius: 10px;
            li {
                padding-left: 25px;
                &::before {
                    content: none;
                }
            }
        }
    }
    &:hover {
        box-shadow: 0px 25px 50px 5px rgba(0, 0, 0, 0.1);
    }
    .popular {
        display: block;
        font-weight: 600;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    &.with-border {
        border: 1px solid #eeeeee;
        &:hover {
            border-color: var(--whiteColor);
        }
    }
}

.single-pricing-box {
    padding: 50px;
    margin-bottom: 25px;
    position: relative;
    border: 1px solid #eee;
    transition: var(--transition);
    background-color: var(--whiteColor);
    .title {
        margin-bottom: 25px;
        h3 {
            font-size: 20px;
            margin-bottom: 5px;
        }
    }
    .price {
        margin-bottom: 30px;
        line-height: 1;
        font: {
            size: 48px;
            weight: 700;
        }
        ;
        span {
            margin-left: -10px;
            display: inline-block;
            color: var(--paragraphColor);
            font: {
                size: var(--fontSize);
                weight: normal;
            }
            ;
        }
    }
    .features-list {
        padding-left: 0;
        list-style-type: none;
        margin: {
            top: 35px;
            bottom: 0;
        }
        ;
        li {
            margin-bottom: 12px;
            position: relative;
            padding-left: 25px;
            font: {
                size: 16px;
                weight: 500;
            }
            ;
            i {
                top: -3.5px;
                left: -2px;
                font-size: 22px;
                color: #36CC72;
                position: absolute;
                &.ri-close-line {
                    color: red;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &:hover,
    &.active {
        box-shadow: 0px 25px 50px 5px rgba(0, 0, 0, 0.1);
    }
    .popular {
        display: block;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

.see-more-pricing {
    text-align: center;
    margin-top: 20px;
    .link-btn {
        font-weight: 600;
        position: relative;
        display: inline-block;
        color: var(--whiteColor);
        &::before {
            left: 0;
            bottom: 0;
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            transition: var(--transition);
            background-color: var(--whiteColor);
        }
        &:hover {
            color: var(--whiteColor);
            &::before {
                width: 0;
            }
        }
    }
    &.color-black {
        .link-btn {
            color: var(--blackColor);
            &::before {
                background-color: var(--blackColor);
            }
            &:hover {
                color: var(--mainColor);
            }
        }
    }
}

// Pricing two
.pricing-two {
    .pricing-section-title {
        padding-left: 60px;
    }
    .single-pricing-table {
        .features-list.sec-list {
            background-color: var(--mainColor);
        }
        .features-list {
            &.sec-list {
                li {
                    color: #fff;
                    i {
                        color: var(--btnButton);
                    }
                    .green {
                        color: var(--btnButton);
                    }
                }
            }
        }
    }
}

.business-plan {
    .pricing-section-title.black-color {
        h2 {
            color: var(--mainColor);
        }
        h1 {
            color: var(--whiteColor);
            span {
                color: var(--whiteColor);
            }
            i {
                color: var(--whiteColor);
            }
        }
        .link-btn {
            color: var(--whiteColor);
            &::before {
                background-color: var(--whiteColor);
            }
        }
    }
    .single-pricing-table {
        .features-list.sec-list {
            background-color: var(--greenLight);
            li {
                color: var(--mainColor);
                strong {
                    &.green {
                        color: var(--mainColor);
                    }
                }
            }
        }
    }
}


/* Max width 767px */

@media only screen and (max-width: 767px) {
    .ms-none {
        display: none;
    }
    .pricing-section-title {
        top: 0;
        padding-right: 0;
        text-align: center;
        margin-bottom: 40px;
        .sub-title {
            font-size: 12px;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 12px;
        }
    }
    .single-pricing-table {
        padding: 20px;
        .title {
            margin-bottom: 20px;
            h3 {
                font-size: 16px;
            }
        }
        .popular {
            top: 22px;
            right: 15px;
            font-size: 12px;
            span {
                margin-left: -4px;
                font-size: 13px;
            }
        }
        .price {
            margin-bottom: 25px;
            font-size: 30px;
            span {
                margin-left: -5px;
                font-size: 13px;
            }
        }
        .features-list {
            margin-top: 30px;
            li {
                font-size: 13px;
                padding-left: 23px;
                i {
                    font-size: 19px;
                }
            }
        }
    }
    .see-more-pricing {
        margin-top: 5px;
    }
    .single-pricing-box {
        padding: 20px;
        .title {
            margin-bottom: 20px;
            h3 {
                font-size: 16px;
            }
        }
        .popular {
            top: 22px;
            right: 15px;
            font-size: 12px;
            span {
                margin-left: -4px;
                font-size: 13px;
            }
        }
        .price {
            margin-bottom: 25px;
            font-size: 30px;
            span {
                margin-left: -5px;
                font-size: 13px;
            }
        }
        .features-list {
            margin-top: 30px;
            li {
                font-size: 13px;
                padding-left: 23px;
                i {
                    font-size: 19px;
                }
            }
        }
    }
}


/* Min width 576px to Max width 767px */

@media only screen and (min-width: 576px) and (max-width: 767px) {}


/* Min width 768px to Max width 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pricing-section-title {
        top: 0;
        padding-right: 0;
        text-align: center;
        margin-bottom: 50px;
        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .single-pricing-table {
        padding: 30px;
        .title {
            margin-bottom: 20px;
            h3 {
                font-size: 18px;
            }
        }
        .price {
            margin-bottom: 25px;
            font-size: 35px;
            span {
                margin-left: -5px;
            }
        }
        .features-list {
            li {
                font-size: 14px;
                i {
                    font-size: 20px;
                }
            }
        }
    }
    .single-pricing-box {
        padding: 30px;
        .title {
            margin-bottom: 20px;
            h3 {
                font-size: 18px;
            }
        }
        .price {
            margin-bottom: 25px;
            font-size: 35px;
            span {
                margin-left: -5px;
            }
        }
        .features-list {
            li {
                font-size: 14px;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}


/* Min width 992px to Max width 1199px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pricing-section-title {
        padding-right: 0;
        h2 {
            font-size: 34px;
        }
    }
    .single-pricing-table {
        padding: 35px;
        .features-list {
            li {
                padding-left: 25px;
                font-size: 14px;
                i {
                    font-size: 20px;
                }
            }
        }
    }
    .single-pricing-box {
        padding: 35px;
        .features-list {
            li {
                padding-left: 25px;
                font-size: 14px;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}


/* Min width 1200px to Max width 1399px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}


/* Min width 1550px */

@media only screen and (min-width: 1550px) {}