<!-- Pricing one -->
<section class="pricing-one pb--80">
    <div class="container">
        <div class="pricing-tabs">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="pricing-section-title black-color">
                        <h2>Standard</h2>
                        <h1>15 <span>KD</span> <i>Per Agent/Month</i></h1>
                        <a routerLink="/contact" class="link-btn">Purchase Plan</a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="single-pricing-table with-border">

                                <div class="title">
                                    <h3>Packages</h3>
                                </div>
                                <span class="popular">
                                    <img src="assets/img/pricing-1.png" alt="Pricing-1">
                                </span>
                                <a routerLink="/contact" class="default-btn">Purchase Plan</a>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 ms-none">
                                        <ul class="features-list">
                                            <li><span> Channels</span></li>
                                            <li><span> Chat bot</span></li>
                                            <li><span> No of Agents <br><br><br></span></li>
                                            <li><span> Outgoing messages for <br>WhatsApp limit per month</span></li>
                                            <li><span> Multimedia messages <br>for WhatsApp</span></li>
                                            <li><span> Template message <br>price for WhatsApp<br><br><br></span></li>
                                            <li><span> Set up Fees</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <ul class="features-list sec-list">
                                            <li><i class="ri-check-line"></i> <strong>WhatsApp</strong></li>
                                            <li><i class="ri-check-line"></i> <strong>Basic </strong></li>
                                            <li><i class="ri-check-line"></i> <strong>Minimum 4 Agents Extra agent <br>(10 kd monthly/agent) Free Supervisor</strong></li>
                                            <li><i class="ri-check-line"></i> <strong>5000 messages</strong><br><br></li>
                                            <li><i class="ri-check-line"></i> <strong>Free 1GB media storage <br>Additional 1GB: 5 KD /month</strong></li>
                                            <li><i class="ri-check-line"></i> <strong>Template messages + Rich media templates <br>(Template Message Fee varies by country + 25% Fee)</strong></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">Free</strong></li>
                                            <!-- <li><i class="ri-close-line"></i> Free</li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pricing two -->
<section class="pricing-two pt--80 pb--80 gray-color">
    <div class="container">
        <div class="pricing-tabs">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="single-pricing-table with-border">

                                <div class="title">
                                    <h3>Packages</h3>
                                </div>
                                <span class="popular">
                                    <img src="assets/img/pricing-2.png" alt="Pricing-2">
                                </span>
                                <a routerLink="/contact" class="default-btn">Purchase Plan</a>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 ms-none">
                                        <ul class="features-list">
                                            <li><span> Channels</span></li>
                                            <li><span> Chat bot</span></li>
                                            <li><span> No of Agents <br><br><br></span></li>
                                            <li><span> Outgoing messages for <br>WhatsApp limit per month</span></li>
                                            <li><span> Multimedia messages <br>for WhatsApp</span></li>
                                            <li><span> Template message <br>price for WhatsApp<br><br><br></span></li>
                                            <li><span> Set up Fees</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <ul class="features-list sec-list">
                                            <li><i class="ri-check-line"></i> <strong>WhatsApp, FB Messenger</strong></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">Custom </strong></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">Minimum 10 Agents Extra agent <br>(10 kd monthly/agent) Free Supervisor</strong></li>
                                            <li><i class="ri-check-line"></i> <strong>10000 messages</strong><br><br></li>
                                            <li><i class="ri-check-line"></i> <strong>Free 3GB media storage <br>Additional 1GB: 5 KD /month</strong></li>
                                            <li><i class="ri-check-line"></i> <strong>Template messages + Rich media templates <br>(Template Message Fee varies by country + 25% Fee)</strong></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">Free</strong></li>
                                            <!-- <li><i class="ri-close-line"></i> Free</li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="pricing-section-title black-color">
                        <h2>Professional</h2>
                        <h1>10 <span>KD</span> <i>Per Agent/Month</i></h1>
                        <a routerLink="/contact" class="link-btn">Purchase Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pricing three -->
<section class="pricing-one pt--80 pb--80 green-light business-plan">
    <div class="container">
        <div class="pricing-tabs">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="pricing-section-title black-color">
                        <h2>Business</h2>
                        <h1>30 <span>KD</span> <i>Per Agent/Month</i></h1>
                        <a routerLink="/contact" class="link-btn">Purchase Plan</a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="single-pricing-table with-border">

                                <div class="title">
                                    <h3>Packages</h3>
                                </div>
                                <span class="popular">
                                    <img src="assets/img/pricing-3.png" alt="Pricing-3">
                                </span>
                                <a routerLink="/contact" class="default-btn">Purchase Plan</a>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 ms-none">
                                        <ul class="features-list">
                                            <li><span> Channels<br><br><br></span></li>
                                            <li><span> Chat bot</span></li>
                                            <li><span> No of Agents <br><br><br></span></li>
                                            <li><span> Outgoing messages for <br>WhatsApp limit per month</span></li>
                                            <li><span> Multimedia messages <br>for WhatsApp</span></li>
                                            <li><span> Template message <br>price for WhatsApp<br><br><br></span></li>
                                            <li><span> Set up Fees</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <ul class="features-list sec-list">
                                            <li><i class="ri-check-line"></i> <strong>Omni Channels (WhatsApp, FB messenger, Instagram, Twitter, YouTube, LinkedIn)</strong></li>
                                            <li><i class="ri-check-line"></i> <strong>Custom </strong></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">Minimum 10 Agents Extra agent <br>(10 kd monthly/agent) Free Supervisor</strong></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">20000 messages</strong><br><br></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">Free 5GB media storage <br>Additional 1GB: 5 KD /month</strong></li>
                                            <li><i class="ri-check-line"></i> <strong>Template messages + Rich media templates <br>(Template Message Fee varies by country + 25% Fee)</strong></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">Free</strong></li>
                                            <!-- <li><i class="ri-close-line"></i> Free</li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pricing four -->
<section class="pricing-two pt--80">
    <div class="container">
        <div class="pricing-tabs">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="single-pricing-table with-border">

                                <div class="title">
                                    <h3>Packages</h3>
                                </div>
                                <a routerLink="/contact" class="default-btn">Purchase Plan</a>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 ms-none">
                                        <ul class="features-list">
                                            <li><span> Channels<br><br><br><br></span></li>
                                            <li><span> Chat bot</span></li>
                                            <li><span> No of Agents</span></li>
                                            <li><span> Outgoing messages for <br>WhatsApp limit per month</span></li>
                                            <li><span> Multimedia messages <br>for WhatsApp</span></li>
                                            <li><span> Template message <br>price for WhatsApp<br><br></span></li>
                                            <li><span> Set up Fees</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <ul class="features-list sec-list">
                                            <li><i class="ri-check-line"></i> <strong>Choose your Channels from below: (WhatsApp, FB messenger, Instagram, Twitter, YouTube, LinkedIn)</strong></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">Custom </strong></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">Custom Free Supervisor</strong></li>
                                            <li><i class="ri-check-line"></i> <strong>Custom</strong><br><br></li>
                                            <li><i class="ri-check-line"></i> <strong>Free 10GB media storage Additional 1GB: 5 KD /month</strong></li>
                                            <li><i class="ri-check-line"></i> <strong>Template messages + Rich media templates (Template Message Fee varies by country + 25% Fee)</strong></li>
                                            <li><i class="ri-check-line"></i> <strong class="green">If connecting the chat bot to Database, we will charge as per requirement</strong></li>
                                            <!-- <li><i class="ri-close-line"></i> Free</li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="pricing-section-title black-color">
                        <h2>Custom</h2>
                        <h3>Boost Operational Intelligence to your Business</h3>
                        <a routerLink="/contact" class="link-btn">Purchase Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>